.wrapper {
    width: 1280px;
    display: flex;
    flex-direction: column;
    margin: 60px auto;
}

.title {
    color: var(--primary-color);
    font-size: 24px;
    margin-left: 20px ;
}

.container {
    margin-top: 12px;
}

.table-log {
    border: 1px solid var(--primary-color);
    border-radius: 4px;
}

.turnback-btn {
    padding: 10px 15px;
    position: absolute;
    background-color: var(--primary-color);
    color: white;
    top: 124px;
    left: 100px;
    font-size: 18px;
    width: 120px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
  }