.wrapper {
    width: 1280px;
    display: flex;
    flex-direction: column;
    margin: 60px auto 20px;

  }
  
  .title {
    color: var(--primary-color);
    font-size: 30px;
    line-height: 20px;
    margin: 10px 0;
    margin-left: 20px;
  } 
  
  .turnback-btn {
    padding: 10px 15px;
    position: absolute;
    background-color: var(--butt-color);
    color: white;
    top: 114px;
    left: 100px;
    font-size: 18px;
    width: 120px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  
  .username {
    color: var(--black-color);
    font-size: 20px;
    line-height: 40px;
    margin: 10px 0;
    margin-left: 20px;
  }
  
  .container {
    margin-top: 20px;
  }
  
  .table-log {
    border: 1px solid var(--primary-color);
    border-radius: 4px;
  }
  
  .ant-table-thead th {
    font-size: 25px;
  }
  
  .note {
    font-size: 20px;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: bold;
  }
  
  .seclect-title {
    margin:0 30px;
    font-size: 20px;
    width: 140px;
    display: inline-block;
    line-height: 50px;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: bold;
  }
  
  .select-input {
    font-family: Arial, Helvetica, sans-serif;
    width: 100px;
    font-size: 18px;
    background-color: var(--input-color);
    margin-left: -60px;
    margin-right: 20px;
    border: 1px solid var(--border-color);
    border-radius: 6px;
    text-align-last: center;
  
    height: 25px;
  }
  
  .select {
    margin: 0px;
  }
  
  .selection {
    text-align-last: center;
    color: white;
    font-weight: bold;
    font-family: "Times New Roman", Times, serif;
    font-size: 18px;
    margin-right: 20px;
    border: 1px solid var(--border-color);
    border-radius: 6px;
    height: 25px;
    width: 110px;
    background-color: var(--primary-color);
    
  
    appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white" width="18px" height="18px"><path d="M7 10l5 5 5-5z"/></svg>');
    background-repeat: no-repeat;
    background-position: right;
    padding-right: 1.5em;
  }